@import url('https://fonts.googleapis.com/css?family=Numans');

body.login-page {
    background-image: url('/images/LoginBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'Numans', sans-serif;
}

.login-page .container {
    height: 100%;
    align-content: center;
}

.login-page .login-wrapper {
    min-height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page .card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}


.login-page .card-header h3 {
    color: white;
}

.login-page .social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.login-page .input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

.login-page input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login-page .remember {
    color: white;
}

    .login-page .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

.login-page .login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

    .login-page .login_btn:hover {
        color: black;
        background-color: white;
    }

.login-page .links {
    color: white;
}

    .login-page .links a {
        margin-left: 4px;
        color: #FFC312;
    }
