
.navbar {
    background-color: var(--primary-color);
    height: 10vh;
}

.navbar-toggler {
    background-color: #343a40;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler:hover {
    background-color: #495057;
    border-color: #ccc;
}

.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateY(-10%);
    gap: 10px;
    padding: 10px;
}

.profile-pic {
    width: 7vh;
    height: 7vh;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .profile-pic:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
    }