nav.sidebar {
    background-color: var(--primary-color);
    height: auto;
    min-height: 90vh;
}

.nav-btn {
    background-color: var(--primary-color);
    border: 10px;
    color: var(--secondary-color);
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

    .nav-btn:hover {
        background-color: var(--primary-hover-bacground-color);
        font-weight: bold;
        color: var(--primary-color) !important;
    }