* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-text-color);
    text-shadow: 3px 3px 5px var(--shadow-color);
}
label {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--secondary-text-color);
}
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.table-striped tbody tr:hover {
    background-color: var(--primary-hover-bacground-color);
    color: var(--secondary-text-color);
}

.table-striped tbody tr {
    transition: background-color 0.5s ease, color 0.5s ease; 
}


.main-content {
    padding-top: 10vh;
    height: 90vh;
}

