@model Website.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Zmiana hasła";
}
<div class="login-wrapper">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <h3>Nowe hasło</h3>
            </div>
            <div class="card-body">
                <form asp-action="ChangePassword" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Token" />
                    <input type="hidden" asp-for="Email" />
                    <div class="form-group">
                        <label>Nowe hasło</label>
                        <input type="password" asp-for="NewPassword" class="form-control" required />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Powtórz hasło</label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control" required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning btn-block">Zmień hasło</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
