@model IEnumerable<CutItUp.Data.Data.CMS.Website>

<div>
    <div class="text-center">
        <h1>Edycja pozostałych stron</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Website" class="btn btn-primary">Edycja</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Website" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a asp-action="Create" asp-controller="Website" class="btn btn-success">➕ Utwórz nową stronę</a>
    </div>
</div>
