.cart-item {
    border-bottom: 3px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.cart-summary {
    border: 3px solid #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

    .cart-summary .total-price {
        font-size: 1.5rem;
        font-weight: bold;
    }

.btn-checkout {
    background-color: #28a745;
    color: white;
}

    .btn-checkout:hover {
        background-color: #218838;
    }

.product-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
    margin: 15px;
    margin-left: 20px;
    background-color: #f0f0f0;
}
