footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
}

a {
    text-decoration: none;
}
    footer h1 {
        color: white;
        font-size: 25px;
        margin: 0;
        font-family: "Anton", sans-serif;
    }

    footer h3 {
        color: white;
        font-size: 20px;
        margin: 0;
        font-family: "Anton", sans-serif;
    }

.footer-pic {
    font-size: 2vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #e5dddd;
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 20%;
}

    .footer-pic:hover {
        transform: scale(1.2);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
    }
