.navbar {
    height: 10vh;
    background-color: var(--primary-color);
}

.navbar-toggler {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 2px 6px var(--shadow-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler:hover {
    background-color: var(--primary-hover-color);
}



.nav-btn {
    border: 10px;
    color: var(--primary-text-color);
    font-weight: bold;
    border-radius: 5px;
}

    .nav-btn:hover {
        background-color: var(--primary-hover-bacground-color);
        font-weight: bold;
        color: var(--secondary-text-color) !important;
    }

.cart-pic {
    font-size: 2vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #212529;
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 20%;
}
    .cart-pic:hover {
        transform: scale(1.2);
        box-shadow: 0 6px 18px var(--shadow-color);
    }