@model IEnumerable<CutItUp.Data.Data.CMS.MainWebsite.Promo>
@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="col">
    <div class="text-center">
        <h1>Edycja strony głownej</h1>
    </div>
    <div class="col">
        @await Html.PartialAsync("~/Views/Shared/Components/HomeView/Promos.cshtml", (IEnumerable<CutItUp.Data.Data.CMS.MainWebsite.Promo>)ViewBag.Promos)
    </div>
    </div>
    <div class="col">
        <div class="text-center">
            <h1>Edycja strefy dlaczego My</h1>
        </div>
        @await Html.PartialAsync("~/Views/Shared/Components/HomeView/WhyUs.cshtml", (IEnumerable<CutItUp.Data.Data.CMS.MainWebsite.WhyUsSection>)ViewBag.WhyUsSection)
</div>
