<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/logo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" class="logo me-2" alt="Logo" />
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-btn" asp-area="" asp-controller="Home" asp-action="Index">
                                Strona Głowna
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-btn" asp-area="" asp-controller="Home" asp-action="Index">
                                O nas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-btn" asp-area="" asp-controller="Drill" asp-action="Index">
                                Wiertła
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-btn" asp-controller="Mill" asp-action="Index">
                                Frezy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-btn" asp-controller="Tap" asp-action="Index">
                                Gwintowniki
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-btn" asp-controller="SpecialTool" asp-action="Index">
                                Narzędzia specialne
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="profile d-flex align-items-center">
                    <a asp-controller="Home" asp-action="Privacy">
                        <i class="bi bi-cart-fill cart-pic"></i>
                    </a>
                    <h5 class="mb-0 me-2 d-none d-md-block">Patryk Wojewoda</h5>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           <div class="row">
               <h1>Chcesz sie dowiedzieć wiecej o mnie?</h1>
               <h3>Zajżyj na moje social media!</h3>
           </div>
           <div class="row">
               <div class="col-3"></div>
                <div class="col-6 justify-content-center">
                    <a href="https://www.facebook.com/patryk.wojewoda.77/" target="_blank">
                        <i class="bi bi-facebook footer-pic"></i>
                    </a>
                    <a href="https://www.instagram.com/wojewodix/" target="_blank">
                        <i class="bi bi-instagram footer-pic"></i>
                    </a>
                    <a href="https://github.com/patrykWojewoda98" target="_blank">
                        <i class="bi bi-github footer-pic"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/patryk-wojewoda-0a9637210/" target="_blank">
                        <i class="bi bi-linkedin footer-pic"></i>
                    </a>
                    <a href="https://wa.me/48514130907" target="_blank">
                        <i class="bi bi-whatsapp footer-pic"></i>
                    </a>

                </div>
                <div class="col-3"></div>
           </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
