@{
    var isLogged = Context.Session.GetString("User") != null;
}

<head>
    @section Styles {
        <link rel="stylesheet" href="~/css/login.css" />
    }
</head>

@if (!isLogged)
{
    Layout = null;
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="text-center">
            <h2>Zaloguj się do systemu</h2>
            <form asp-action="Login" asp-controller="User" method="post">
                <div class="mb-3">
                    <input type="text" name="Username" class="form-control" placeholder="Nazwa użytkownika" required />
                </div>
                <div class="mb-3">
                    <input type="password" name="Password" class="form-control" placeholder="Hasło" required />
                </div>
                <button type="submit" class="btn btn-primary">Zaloguj się</button>
            </form>
        </div>
    </div>
    
}
else
{
    Layout = "_Layout";
}
