@model CutItUp.Data.Data.CMS.MainWebsite.Promo

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col">
        <form asp-action="Create" method="post" asp-controller="Promo" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="PromoFile" class="control-label">Promo File</label>
                <input type="file" name="PromoFile" class="form-control" id="PromoFile" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col">
        <a asp-action="Index" asp-controller="MainWebsite" class="btn btn-primary">Powrót do edycji strony głównej</a>
    </div>
</div>



