@model Intranet.Models.DTO.PromoDTO;

@{
    ViewData["Title"] = "Utwórz promocję";
}

<div class="container py-5 d-flex justify-content-center">
    <div class="edit-form-wrapper p-4">
        <h3 class="text-center mb-4 fw-bold">Utwórz sekcję promocyjną</h3>
        <div asp-validation-summary="All" class="text-danger mb-3"></div>
        <form asp-action="Create" asp-controller="Promo" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label asp-for="Title" class="form-label">Tytuł</label>
                <input asp-for="Title" class="form-control" placeholder="Wprowadź tytuł promocji" />
                <span asp-validation-for="Title" class="text-danger small"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label">Opis</label>
                <textarea asp-for="Description" class="form-control" placeholder="Wprowadź opis" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger small"></span>
            </div>

            <div class="mb-4">
                <label for="PromoFile" class="form-label">Nowy plik promocyjny</label>
                <input type="file" name="PromoFile" class="form-control" required />
            </div>

            <div class="d-flex justify-content-center gap-2 mt-4">
                <button type="submit" class="btn btn-primary px-4">💾 Zapisz promocję</button>
                <a asp-action="Index" asp-controller="MainWebsite" class="btn btn-outline-secondary">← Wróć do listy</a>
            </div>
        </form>
    </div>
</div>
