@{
    ViewData["Title"] = "Strona Głowna";
}
@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}

<div class="container-fluid">
    <div class="row">
        @await Html.PartialAsync("~/Views/Shared/Partials/HomeView/Promos.cshtml", (IEnumerable<CutItUp.Data.Data.CMS.MainWebsite.Promo>)ViewBag.Promos)

    </div>
    <div class="col-12">
        @await Html.PartialAsync("~/Views/Shared/Partials/HomeView/BestSellers.cshtml", (IEnumerable<CutItUp.Data.Data.Abstractions.Tool>)ViewBag.BestSellers)
    </div>
    <div class="row">
        <div class="col">   
            @await Html.PartialAsync("~/Views/Shared/Partials/HomeView/WhyUs.cshtml", (IEnumerable<CutItUp.Data.Data.CMS.MainWebsite.WhyUsSection>)ViewBag.WhyUsSection)
               
        </div>
    </div>
    <div class="row">
            <div class="col">
                <div class="text-center">
                    <h1>Gdzie nas znajdziesz?</h1>
                </div>
                <div class="container-fluid ">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.863189637719!2d20.68684797678988!3d49.6003293482084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473de527c4c967d1%3A0x4656f90ca24683d9!2sWy%C5%BCsza%20Szko%C5%82a%20Biznesu%20-%20National%20Louis%20University!5e0!3m2!1spl!2spl!4v1743766120896!5m2!1spl!2spl" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
    </div>
</div>