@{
    ViewData["Title"] = "Strona Głowna";
}

<html>
    <head>
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    </head>
    <body class="main">
        <div class="container">
            <h1>Witamy na naszej stronie głownej!</h1>
        <iframe class="video" src="https://www.youtube.com/embed/HNZrc1g_0xA?si=bp1ErvMYPW6U7lEf" allow="autoplay"
         ></iframe>
        </div>
    </body>
</html>